@model List<DemoBlogAppProject.Models.DomainModel.Post>


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Post - [Admin]</h1>
    </div>
</div>

<div class="container py-5">
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Heading</td>
                <td>Tags</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var x in Model)
            {
                <tr>
                    <td>@x.Id</td>
                    <td>@x.Heading</td>
                    <td>
                        <div class="d-flex">
                            @foreach (var i in x.Tags)
                            {
                                <span class="badge bg-secondary me-1">@i.Name</span>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>