@model List<DemoBlogAppProject.Models.DomainModel.Tag>

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>All Tags</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var x in Model)
                {
                    <tr>
                        <td>@x.Id</td>
                        <td>@x.Name</td>
                        <td>@x.DisplayName</td>
                        <td>
                            <a asp-area="" asp-controller="Tag" 
                               asp-action="Edit" 
                               asp-route-id="@x.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Tags Found</p>
    }
</div>
